<div class="mt-5">
    <div class="card mt-5 border-0" style="min-width: 540px;" *ngIf="!loading">
        <div class="row g-0">
            <div class="col-md-4 m-auto">
                <img src="{{product.image}}" class="img-fluid rounded-start w-100" alt="{{product.title}}">
            </div>
            <div class="col-md-8">
                <div class="card-body mt-3">
                    <h5 class="card-title fw-bold fs-2">{{product.title}}</h5>
                    <h5 class="card-title fw-bold fs-5 mb-5">{{product.category}}</h5>
                    <p class="card-text desc fs-4">{{product.description}}</p>
                    <p class="card-text fw-bold colour fs-3"> <span>Rating:</span> {{product.rating.rate}}</p>
                    <p class="card-text colour fs-1 text-end fw-bold mt-5 pt-5">{{product.price}} &dollar;
                    </p>
                </div>
                <!-- <button class="btn btn-success fw-bold" (click)="addToCart()">Add to
                    cart</button> -->
            </div>
        </div>
    </div>
    <div class=" text-center w-100" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
</div>